h2 {
    font-size: medium;
}

ul {
    color: blue;
    background-color: lightblue;
    font-size: large;
}

ol {
    color: green;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 48px;
    text-align: center;
    background-color: blue;
    color: white;
}
